<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'Home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid nav-background">
        <nav class="navbar navbar-expand-sm navbar-dark nav-background py-3 ">
            <a class="navbar-brand" href="{% url 'home' %}">
                FarmMarket
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: white ;font-size: 20px;" class="nav-link "
                            href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white ;font-size: 20px;" class="nav-link "
                            href="{% url 'products' %}">Price</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid my-5">
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>

    <script src="{% static 'Home/js/jquery.js' %}"></script>
    <script src="{% static 'Home/js/popper.js' %}"></script>
    <script src="{% static 'Home/js/bootstrap.js' %}"></script>

</body>
</html>