<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'Home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
    <!-- <script src="{% static 'Home/js/plotly.min.js' %}"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'Home/js/plot.js' %}"></script>
    <title>Document</title>
</head>

<body>

    <div class="container-fluid nav-background">
        <nav class="navbar navbar-expand-sm navbar-dark nav-background py-3 ">
            <a class="navbar-brand" href="{% url 'home' %}">
                FarmMarket
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a style="color: white ;font-size: 20px;" class="nav-link "
                            href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white ;font-size: 20px;" class="nav-link "
                            href="{% url 'products' %}">Products</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 mt-3 mx-3" style="background-color: #a8e99b;border-radius:15px;">
                <h2 class="text-center my-5" style="color:  white;">Statistical and Analytic Report</h2>
                <div style="height:670px;">
                    {% autoescape off %}
                    {{ plot_div }}
                    {% endautoescape %}

                </div>

            </div>

        </div>
    </div>
    </div>


    <script src="{% static 'Home/js/jquery.js' %}"></script>
    <script src="{% static 'Home/js/popper.js' %}"></script>
    <script src="{% static 'Home/js/bootstrap.js' %}"></script>
</body>


</html>